<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cranberrygame.phonegap.plugin.ad.admob"
    version="1.0.39">
	
    <name>AdsIndy</name>
    <description>-</description>
    <author>AdsIndy By BanbanSoft</author>		
    <license>-</license>
    <keywords>phonegap,plugin,ad,adsindy,ads,banbansoft,overlap,split</keywords>
    <repo>-</repo>
    <issue>-</issue> 	
	<engines>
	    <engine name="cordova" version=">=3.0.0" />
	</engines>
	
    <js-module src="www/adsindyjs.js">
        <clobbers target="window.admob" />
    </js-module>
	
    <!-- android -->
    <platform name="android">
<!--
		<dependency id="com.google.playservices" url="https://github.com/MobileChromeApps/google-play-services" commit="00f511a8ce332d4586f067240460bfe978ace2ae" />
-->		
		<dependency id="com.google.playservices@19.0.0" />
		
	    <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Admob" >
                <param name="android-package" value="com.cranberrygame.cordova.plugin.ad.admob.AdsIndyJava"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
			<activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" 
			    android:name="com.google.android.gms.ads.AdActivity" />
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>		
         
		
		<!-- cranberrygame start: google-play-services.jar -->
<!--		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		</config-file>
-->		
		<!-- cranberrygame end -->
	<source-file src="src/android/adsindy.jar" target-dir="libs" />
        <source-file src="src/android/AdsIndyJava.java" target-dir="src/com/cranberrygame/cordova/plugin/ad/admob" />		
		<!-- cranberrygame start: google-play-services.jar -->
<!--		
		<source-file src="src/android/google-play-services.jar" target-dir="libs" />
		<source-file src="src/android/version.xml" target-dir="res/values" />
-->		
		<!-- cranberrygame end -->
    </platform>

 
</plugin>